ClientApp/src/META-INF/wsdl/localhost_8080/KotService/KotService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://kot.adamborowski.pl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://kot.adamborowski.pl/">

<xs:element name="addCat" type="tns:addCat"/>

<xs:element name="addCatResponse" type="tns:addCatResponse"/>

<xs:element name="deleteCat" type="tns:deleteCat"/>

<xs:element name="deleteCatResponse" type="tns:deleteCatResponse"/>

<xs:element name="findCat" type="tns:findCat"/>

<xs:element name="findCatResponse" type="tns:findCatResponse"/>

<xs:element name="getCats" type="tns:getCats"/>

<xs:element name="getCatsPaged" type="tns:getCatsPaged"/>

<xs:element name="getCatsPagedResponse" type="tns:getCatsPagedResponse"/>

<xs:element name="getCatsResponse" type="tns:getCatsResponse"/>

<xs:element name="nextPage" type="tns:nextPage"/>

<xs:element name="nextPageResponse" type="tns:nextPageResponse"/>

<xs:element name="prevPage" type="tns:prevPage"/>

<xs:element name="prevPageResponse" type="tns:prevPageResponse"/>

<xs:element name="ready" type="tns:ready"/>

<xs:element name="readyResponse" type="tns:readyResponse"/>

<xs:element name="search" type="tns:search"/>

<xs:element name="searchResponse" type="tns:searchResponse"/>

<xs:element name="updateCat" type="tns:updateCat"/>

<xs:element name="updateCatResponse" type="tns:updateCatResponse"/>

<xs:complexType name="search">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="searchResponse">
<xs:sequence>
<xs:element name="return" type="tns:cat" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cat">
<xs:complexContent>
<xs:extension base="tns:abstractObject">
<xs:sequence>
<xs:element name="age" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="abstractObject">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addCat">
<xs:sequence>
<xs:element name="arg0" type="tns:cat" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addCatResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nextPage">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="nextPageResponse">
<xs:sequence>
<xs:element name="return" type="tns:cat" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ready">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="readyResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="deleteCat">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteCatResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="prevPage">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="prevPageResponse">
<xs:sequence>
<xs:element name="return" type="tns:cat" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCatsPaged">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCatsPagedResponse">
<xs:sequence>
<xs:element name="return" type="tns:cat" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCat">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCatResponse">
<xs:sequence>
<xs:element name="return" type="tns:cat" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCats">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCatsResponse">
<xs:sequence>
<xs:element name="return" type="tns:cat" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateCat">
<xs:sequence>
<xs:element name="arg0" type="tns:cat" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateCatResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>