ClientApp/xml-resources/web-service-references/KotService/wsdl/localhost_8080/KotService/KotService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://kot.adamborowski.pl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://kot.adamborowski.pl/" name="KotService">
<types>
<xsd:schema>
<xsd:import namespace="http://kot.adamborowski.pl/" schemaLocation="http://localhost:8080/KotService/KotService?xsd=1"/>
</xsd:schema>
</types>
<message name="getCats">
<part name="parameters" element="tns:getCats"/>
</message>
<message name="getCatsResponse">
<part name="parameters" element="tns:getCatsResponse"/>
</message>
<message name="getCatsPaged">
<part name="parameters" element="tns:getCatsPaged"/>
</message>
<message name="getCatsPagedResponse">
<part name="parameters" element="tns:getCatsPagedResponse"/>
</message>
<message name="nextPage">
<part name="parameters" element="tns:nextPage"/>
</message>
<message name="nextPageResponse">
<part name="parameters" element="tns:nextPageResponse"/>
</message>
<message name="addCat">
<part name="parameters" element="tns:addCat"/>
</message>
<message name="addCatResponse">
<part name="parameters" element="tns:addCatResponse"/>
</message>
<message name="findCat">
<part name="parameters" element="tns:findCat"/>
</message>
<message name="findCatResponse">
<part name="parameters" element="tns:findCatResponse"/>
</message>
<message name="deleteCat">
<part name="parameters" element="tns:deleteCat"/>
</message>
<message name="deleteCatResponse">
<part name="parameters" element="tns:deleteCatResponse"/>
</message>
<message name="prevPage">
<part name="parameters" element="tns:prevPage"/>
</message>
<message name="prevPageResponse">
<part name="parameters" element="tns:prevPageResponse"/>
</message>
<message name="updateCat">
<part name="parameters" element="tns:updateCat"/>
</message>
<message name="updateCatResponse">
<part name="parameters" element="tns:updateCatResponse"/>
</message>
<message name="search">
<part name="parameters" element="tns:search"/>
</message>
<message name="searchResponse">
<part name="parameters" element="tns:searchResponse"/>
</message>
<message name="ready">
<part name="parameters" element="tns:ready"/>
</message>
<message name="readyResponse">
<part name="parameters" element="tns:readyResponse"/>
</message>
<portType name="KotService">
<operation name="getCats">
<input wsam:Action="http://kot.adamborowski.pl/KotService/getCatsRequest" message="tns:getCats"/>
<output wsam:Action="http://kot.adamborowski.pl/KotService/getCatsResponse" message="tns:getCatsResponse"/>
</operation>
<operation name="getCatsPaged">
<input wsam:Action="http://kot.adamborowski.pl/KotService/getCatsPagedRequest" message="tns:getCatsPaged"/>
<output wsam:Action="http://kot.adamborowski.pl/KotService/getCatsPagedResponse" message="tns:getCatsPagedResponse"/>
</operation>
<operation name="nextPage">
<input wsam:Action="http://kot.adamborowski.pl/KotService/nextPageRequest" message="tns:nextPage"/>
<output wsam:Action="http://kot.adamborowski.pl/KotService/nextPageResponse" message="tns:nextPageResponse"/>
</operation>
<operation name="addCat">
<input wsam:Action="http://kot.adamborowski.pl/KotService/addCatRequest" message="tns:addCat"/>
<output wsam:Action="http://kot.adamborowski.pl/KotService/addCatResponse" message="tns:addCatResponse"/>
</operation>
<operation name="findCat">
<input wsam:Action="http://kot.adamborowski.pl/KotService/findCatRequest" message="tns:findCat"/>
<output wsam:Action="http://kot.adamborowski.pl/KotService/findCatResponse" message="tns:findCatResponse"/>
</operation>
<operation name="deleteCat">
<input wsam:Action="http://kot.adamborowski.pl/KotService/deleteCatRequest" message="tns:deleteCat"/>
<output wsam:Action="http://kot.adamborowski.pl/KotService/deleteCatResponse" message="tns:deleteCatResponse"/>
</operation>
<operation name="prevPage">
<input wsam:Action="http://kot.adamborowski.pl/KotService/prevPageRequest" message="tns:prevPage"/>
<output wsam:Action="http://kot.adamborowski.pl/KotService/prevPageResponse" message="tns:prevPageResponse"/>
</operation>
<operation name="updateCat">
<input wsam:Action="http://kot.adamborowski.pl/KotService/updateCatRequest" message="tns:updateCat"/>
<output wsam:Action="http://kot.adamborowski.pl/KotService/updateCatResponse" message="tns:updateCatResponse"/>
</operation>
<operation name="search">
<input wsam:Action="http://kot.adamborowski.pl/KotService/searchRequest" message="tns:search"/>
<output wsam:Action="http://kot.adamborowski.pl/KotService/searchResponse" message="tns:searchResponse"/>
</operation>
<operation name="ready">
<input wsam:Action="http://kot.adamborowski.pl/KotService/readyRequest" message="tns:ready"/>
<output wsam:Action="http://kot.adamborowski.pl/KotService/readyResponse" message="tns:readyResponse"/>
</operation>
</portType>
<binding name="KotServicePortBinding" type="tns:KotService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getCats">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCatsPaged">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="nextPage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCat">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findCat">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCat">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="prevPage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateCat">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="search">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ready">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="KotService">
<port name="KotServicePort" binding="tns:KotServicePortBinding">
<soap:address location="http://localhost:8080/KotService/KotService"/>
</port>
</service>
</definitions>